body{
  background-color: #2B2D42;
  color: #EDF2F4;
  font-family: 'Noto Sans', sans-serif;
  justify-content: center;
  text-align: center;
  margin: auto;
}

#rpsgame{
  display: flex;
}

.container{
  display: flex;
  max-height: 500px;
}

.options{
  flex-grow: 1;
  width: 100px;
  margin: 3vh 3vw 3vh 3vw;
  background-color: #8D99AE;
  border: solid #EDF2F4 3px;
  border-radius: 10px;
  height: 300px;
  padding-bottom: 3vh;
}

#buttons {
  display: flex;
  justify-content: center;
}
.label{
  text-align: center;
  color: #EDF2F4;
  background-color: #90A8C3;
  padding: 3vh 3vw 3vh 3vw;
  margin-top: 0px;
  border-bottom: solid #EDF2F4 3px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
button{
  padding: 10px 50px;
  margin-right: 3vw;
  border: solid #D90429 2px;
  background-color: #EDF2F4;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  font-size: 20px;
  color: #8D99AE;
  position: relative;
}


img {
  width: 25%;
  height: 25%;
  object-fit: cover;
  display: flex;
  margin: auto;
}
h2{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
button:hover{
  border: #EDF2F4 solid 2px;
  color: #D90429;
}

button:active{
  background-color: #D90429;
  color: #EDF2F4;
}

.start-game{
  text-align: center;
  font-size: 30px;
  color: #EDF2F4;
  justify-content: center;
  margin: 3vh 3vw 3vh 3vw;
}
